 //**********************CUSTOM FONTS*************************
 @font-face {
     font-family: "Gv time";
     src: url(../fonts/gv-time-font/GvtimeRegular-AL6Jg.otf) format('opentype');
 }
 
 @font-face {
     font-family: "oswald";
     src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf") format('truetype');
 }
 
 @font-face {
     font-family: "un-round";
     src: url("../fonts/unround-font/Unround-owpGB.ttf") format('truetype');
 }
 
 @font-face {
     font-family: "maghrib";
     src: url(../fonts/maghrib-font/Maghrib-MVZpx.ttf) format('truetype');
 }
 
 //***************************VARIABLES***************************
 $font-stack:"un-round",
 "oswald",
 "Gv time",
 Helvetica,
 Arial,
 Verdana,
 sans-serif;
 $font-style:"maghrib",
 Helvetica,
 'sans-serif';
 $mobile-font:"oswald",
 sans-serif;
 $secondary-color: #c8d3d5; //30
 $primary-color: #f4d35e; //10
 $primary-background-color: #edf2f4; //60
 $hover-color:#8d99ae;
 $heading-color: #ffb623;
 $active-color: rgb(253,
 43,
 43);
 //***************************** MOBILE STYLE *****************************
 @media screen and (max-width:600px) {
     body {
         background-color: $primary-background-color;
         //**++++++++++ navigation ++++++++++++
         header {
             width: 100vw;
             position: absolute;
             margin: 0;
             top: 0;
             z-index: 10;
             ul {
                 font-family: $mobile-font;
                 list-style-type: none;
                 display: flex;
                 flex-direction: row;
                 justify-content: space-between;
                 align-items: center;
                 .nav-button {
                     font-size: 1.2em;
                     margin-right: 2em;
                     a:link,
                     a:visited {
                         color: $primary-color;
                     }
                     a:hover,
                     a:focus,
                     a:active {
                         color: $secondary-color;
                         text-decoration: underline;
                     }
                 }
             }
         }
         //**+++++++++ main +++++++++++++++++
         main {
             background-color: $primary-background-color;
             display: flex;
             flex-direction: column;
             justify-content: space-evenly;
             align-items: center;
             //**+++++++++top picks++++++++
             #topPicks {
                 order: -1;
                 height: 100vh;
                 background-color: $secondary-color;
                 background-image: url("../images/backcss.png");
                 position: relative;
                 z-index: 9;
                 background-repeat: no-repeat;
                 background-position: center center;
                 background-size: cover;
                 figure {
                     display: flex;
                     justify-content: space-between;
                     flex-direction: column;
                     align-items: center;
                     img {
                         margin-top: 6em;
                         flex-grow: auto;
                     }
                     p {
                         font-family: $mobile-font;
                         font-size: 1.5em;
                         flex: auto;
                     }
                 }
             }
             .button a:link,
             .button a:visited {
                 color: $primary-color;
                 border: 1px solid $primary-color;
                 padding: .1em 5rem;
                 border-radius: 20px;
                 -webkit-border-radius: 20px;
                 -moz-border-radius: 20px;
                 -ms-border-radius: 20px;
                 -o-border-radius: 20px;
             }
             .button a:hover,
             .button a:focus,
             .button a:active {
                 color: black;
                 background-color: $primary-color;
                 ;
             }
         }
     }
 }