@font-face {
  font-family: "Gv time";
  src: url(../fonts/gv-time-font/GvtimeRegular-AL6Jg.otf) format("opentype");
}
@font-face {
  font-family: "wire one";
  src: url(../fonts/wire-one-font/WireOne-PJ1Z.ttf) format("truetype");
}
@font-face {
  font-family: "un-round";
  src: url(../fonts/unround-font/Unround-owpGB.ttf) format("truetype");
}
@font-face {
  font-family: "billion-dream";
  src: url(../fonts/billion-dreams-font/BillionDreams-vmgK9.ttf) format("truetype");
}
@font-face {
  font-family: "maghrib";
  src: url(../fonts/maghrib-font/Maghrib-MVZpx.ttf) format("truetype");
}
body {
  font-family: "maghrib", "wire one", Helvetica, "sans-serif";
  font-size: 100%;
  text-transform: capitalize;
  box-sizing: border-box;
  display: block;
  background-color: #edf2f4;
  background-image: url("../images/foodbackground2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
body p {
  font-size: 2em;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "un-round", "Gv time", Helvetica, Arial, Verdana, sans-serif;
  color: #ffb623;
}
body a {
  text-decoration: none;
}
body img {
  max-width: 100%;
}

::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  height: auto;
  width: 100vw;
}
header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5em 3em;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0;
  font-size: 1.7em;
  background-color: #c8d3d5;
}
header ul #logo {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  flex: initial;
}
header ul p {
  margin-top: 0;
  margin-bottom: 0;
  flex: initial;
}
header ul a:link {
  color: black;
}
header ul a:visited {
  color: black;
}
header ul a:hover {
  color: #f4d35e;
  text-decoration: underline;
}
header ul .nav-button {
  padding-right: 1.2em;
}
header ul #welcome-message {
  padding-right: 20em;
}

main {
  grid-row: 2/3;
  grid-column: 1/4;
  display: grid;
  grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-columns: 50px minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) 50px;
  grid-template-columns: 50px minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) 50px;
  grid-gap: 10px;
  justify-content: center;
  align-content: space-evenly;
}
main #title {
  grid-row: 1/2;
  grid-column: 2/3;
}
main #title h1 {
  margin: 20px 0 0 0;
}
main #title p {
  margin: 0;
}
main #topPicks {
  grid-row: 2/4;
  grid-column: 2/3;
  background-color: #c8d3d5;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: auto;
  position: relative;
}
main #topPicks #randomPick {
  position: absolute;
  top: 40%;
  bottom: 50%;
  left: 25%;
}
main #nshima {
  grid-row: 2/3;
  grid-column: 3/5;
  background-color: #c8d3d5;
  border-top-right-radius: 20px;
  position: relative;
  height: auto;
}
main #nshima #shibutton {
  position: absolute;
  top: 40%;
  left: 30%;
}
main #nshima figure {
  margin: 4em 0 0 0;
  height: auto;
}
main #pancakes {
  grid-row: 3/4;
  grid-column: 3/4;
  background-color: #c8d3d5;
  position: relative;
  height: auto;
}
main #pancakes #panbutton {
  position: absolute;
  top: 40%;
  left: 4em;
}
main #pancakes figure {
  margin: 4em 0 0 0;
  height: auto;
}
main #chicken {
  grid-row: 3/4;
  grid-column: 4/5;
  background-color: #c8d3d5;
  border-bottom-right-radius: 20px;
  position: relative;
  height: auto;
}
main #chicken #chibutton {
  position: absolute;
  top: 40%;
  left: 3em;
}
main #chicken figure {
  margin: 4em 0 0 0;
  height: auto;
}
main .button {
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 2em;
  text-align: center;
}
main .button a:link {
  padding: 0 2em;
  background-color: #f4d35e;
  border: solid black 1px;
  color: black;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
main .button a:visited {
  color: black;
}
main .button a:hover {
  background-color: #edf2f4;
  box-shadow: 5px 6px black;
  border-radius: 10px;
  text-align: center;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
main .button a:active {
  background-color: rgb(253, 43, 43);
}

footer #copyright {
  text-align: center;
  font-size: 1.2em;
}/*# sourceMappingURL=style.css.map */