                //********************MY FOOD PAGE SCSS**********************
                //**********************CUSTOM FONTS*************************
                @font-face {
                    font-family: "Gv time";
                    src: url(../fonts/gv-time-font/GvtimeRegular-AL6Jg.otf) format('opentype');
                }
                
                @font-face {
                    font-family: "oswald";
                    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf") format('truetype');
                }
                
                @font-face {
                    font-family: "un-round";
                    src: url("../fonts/unround-font/Unround-owpGB.ttf") format('truetype');
                }
                
                @font-face {
                    font-family: "maghrib";
                    src: url(../fonts/maghrib-font/Maghrib-MVZpx.ttf) format('truetype');
                }
                
                //***************************VARIABLES***************************
                $font-stack:"un-round",
                "oswald",
                "Gv time",
                Helvetica,
                Arial,
                Verdana,
                sans-serif;
                $font-style:"maghrib",
                Helvetica,
                'sans-serif';
                $mobile-font:"oswald",
                sans-serif;
                $secondary-color: #c8d3d5; //30
                $primary-color: #f4d35e; //10
                $primary-background-color: #edf2f4; //60
                $hover-color:#8d99ae;
                $heading-color: #ffb623;
                $active-color: rgb(253,
                43,
                43);
                //*****************************DEFAULTS**************************
                body {
                    font-family: $font-style;
                    font-size: 100%;
                    text-transform: capitalize;
                    box-sizing: border-box;
                    display: block;
                    background-color: $primary-background-color;
                    //*body elements
                    p {
                        font-size: 2em;
                    }
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-family: $font-stack;
                        color: $heading-color;
                    }
                    a {
                        text-decoration: none;
                    }
                    img {
                        max-width: 100%;
                    }
                }
                
                 ::after,
                 ::before {
                    box-sizing: inherit;
                }
                
                body {
                    margin: 0;
                }
                
                //***************************** MOBILE STYLE *****************************
                @media screen and (max-width:600px) {
                    body {
                        background-color: $primary-background-color;
                        //**++++++++++ navigation ++++++++++++
                        header {
                            width: 100vw;
                            position: absolute;
                            margin: 0;
                            top: 0;
                            z-index: 10;
                            ul {
                                font-family: $mobile-font;
                                list-style-type: none;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                .nav-button {
                                    font-size: 1.2em;
                                    margin-right: 2em;
                                    a:link,
                                    a:visited {
                                        color: $primary-color;
                                    }
                                    a:hover,
                                    a:focus,
                                    a:active {
                                        color: $secondary-color;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        //**+++++++++ main +++++++++++++++++
                        main {
                            background-color: $primary-background-color;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            //**+++++++++top picks++++++++
                            #topPicks {
                                order: -1;
                                height: 100vh;
                                background-color: $secondary-color;
                                background-image: url("../images/backcss.png");
                                position: relative;
                                z-index: 9;
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: cover;
                                figure {
                                    display: flex;
                                    justify-content: space-between;
                                    flex-direction: column;
                                    align-items: center;
                                    img {
                                        margin-top: 6em;
                                        flex-grow: auto;
                                    }
                                    p {
                                        font-family: $mobile-font;
                                        font-size: 1.5em;
                                        flex: auto;
                                    }
                                }
                            }
                            .button a:link,
                            .button a:visited {
                                color: $primary-color;
                                border: 1px solid $primary-color;
                                padding: .1em 5rem;
                                border-radius: 20px;
                                -webkit-border-radius: 20px;
                                -moz-border-radius: 20px;
                                -ms-border-radius: 20px;
                                -o-border-radius: 20px;
                            }
                            .button a:hover,
                            .button a:focus,
                            .button a:active {
                                color: black;
                                background-color: $primary-color;
                                ;
                            }
                        }
                    }
                }
                
                //todo              TABLET *****************************
                @media screen and (min-width:1440px) {}
                
                //************************* DESKTOP BASIC STYLE ********************************
                @media screen and (min-width:1600px) {
                    body {
                        background-image: url("../images/foodbackground2.jpg"); //only downloads this image on desktop
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        background-attachment: fixed;
                        header {
                            height: auto;
                            width: 100vw;
                            //** content in the header section
                            ul {
                                display: flex;
                                flex-direction: row;
                                font-family: $font-style;
                                flex-wrap: nowrap;
                                padding: .5em 3em;
                                justify-content: space-between;
                                align-items: center;
                                gap: .5px;
                                //** in list content styles 
                                list-style-type: none;
                                margin-top: 0;
                                font-size: 2.5em;
                                background-color: $secondary-color;
                                #logo {
                                    margin-top: 0;
                                    margin-bottom: 0;
                                    flex: initial;
                                }
                                li {
                                    margin: .2em;
                                    flex: initial;
                                }
                                a:link {
                                    color: black;
                                }
                                a:visited {
                                    color: black;
                                }
                                a:hover {
                                    color: $primary-color;
                                    text-decoration: underline;
                                }
                            }
                        }
                        main {
                            grid-row: 2/3;
                            grid-column: 1/4;
                            display: grid;
                            grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
                            grid-template-columns: 50px minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) 50px;
                            grid-gap: 10px;
                            justify-content: center;
                            align-content: space-evenly;
                            //** nested divs for products
                            #title {
                                grid-row: 1/2;
                                grid-column: 2/3;
                                //** the headings
                                h1 {
                                    margin: 20px 0 0 0;
                                    font-family: $font-stack;
                                }
                                p {
                                    margin: 0;
                                }
                            }
                            //**************** top-picks style ******************
                            #topPicks {
                                grid-row: 2/4;
                                grid-column: 2/3;
                                background-color: $secondary-color;
                                background-image: url("../images/backcss.png");
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: cover;
                                background-clip: content-box;
                                border-top-left-radius: 20px;
                                border-bottom-left-radius: 20px;
                                height: auto;
                                position: relative;
                                //**positioning of random
                                #randomPick {
                                    position: absolute;
                                    top: 40%;
                                    bottom: 50%;
                                    left: 25%;
                                }
                            }
                            //********************** nshima style *********************
                            #nshima {
                                grid-row: 2/3;
                                grid-column: 3/5;
                                background-color: $secondary-color;
                                border-top-right-radius: 20px;
                                position: relative;
                                height: auto;
                                //** positioning shibutton
                                #shibutton {
                                    position: absolute;
                                    top: 40%;
                                    left: 30%;
                                }
                                figure {
                                    margin: 4em 0 0 0;
                                    height: auto;
                                }
                            }
                            //***************** pancakes styles  **********************
                            #pancakes {
                                grid-row: 3/4;
                                grid-column: 3/4;
                                background-color: $secondary-color;
                                position: relative;
                                height: auto;
                                //** position buttons
                                #panbutton {
                                    position: absolute;
                                    top: 40%;
                                    left: 4em;
                                }
                                figure {
                                    margin: 4em 0 0 0;
                                    height: auto;
                                }
                            }
                            //********************* chicken style ********************
                            #chicken {
                                grid-row: 3/4;
                                grid-column: 4/5;
                                background-color: $secondary-color;
                                border-bottom-right-radius: 20px;
                                position: relative;
                                height: auto;
                                //************ positioning chibutton ***************
                                #chibutton {
                                    position: absolute;
                                    top: 40%;
                                    left: 3em;
                                }
                                figure {
                                    margin: 4em 0 0 0;
                                    height: auto;
                                }
                            }
                            //******************* buttons looks **********************
                            .button {
                                height: auto;
                                width: fit-content;
                                padding: 0 2em;
                                text-align: center;
                                a:link {
                                    padding: 0 2em;
                                    background-color: $primary-color;
                                    border: solid black 1px;
                                    color: black;
                                    transition: all 0.2s ease-in-out;
                                    -webkit-transition: all 0.2s ease-in-out;
                                    -moz-transition: all 0.2s ease-in-out;
                                    -ms-transition: all 0.2s ease-in-out;
                                    -o-transition: all 0.2s ease-in-out;
                                }
                                a:visited {
                                    color: black;
                                }
                                a:hover {
                                    background-color: $primary-background-color;
                                    box-shadow: 5px 6px black;
                                    border-radius: 10px;
                                    text-align: center;
                                    height: auto;
                                    width: fit-content;
                                    -webkit-border-radius: 10px;
                                    -moz-border-radius: 10px;
                                    -ms-border-radius: 10px;
                                    -o-border-radius: 10px;
                                }
                                a:active {
                                    background-color: $active-color;
                                }
                            }
                        }
                        footer {
                            //* copyright
                            #copyright {
                                text-align: center;
                                font-size: 1.2em;
                            }
                        }
                    }
                }