@font-face {
  font-family: "Gv time";
  src: url(../fonts/gv-time-font/GvtimeRegular-AL6Jg.otf) format("opentype");
}
@font-face {
  font-family: "oswald";
  src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "un-round";
  src: url("../fonts/unround-font/Unround-owpGB.ttf") format("truetype");
}
@font-face {
  font-family: "maghrib";
  src: url(../fonts/maghrib-font/Maghrib-MVZpx.ttf) format("truetype");
}
body {
  font-family: "maghrib", Helvetica, "sans-serif";
  font-size: 100%;
  text-transform: capitalize;
  box-sizing: border-box;
  display: block;
  background-color: #edf2f4;
}
body p {
  font-size: 2em;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "un-round", "oswald", "Gv time", Helvetica, Arial, Verdana, sans-serif;
  color: #ffb623;
}
body a {
  text-decoration: none;
}
body img {
  max-width: 100%;
}

::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    background-color: #edf2f4;
  }
  body header {
    width: 100vw;
    position: absolute;
    margin: 0;
    top: 0;
    z-index: 10;
  }
  body header ul {
    font-family: "oswald", sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  body header ul .nav-button {
    font-size: 1.2em;
    margin-right: 2em;
  }
  body header ul .nav-button a:link,
body header ul .nav-button a:visited {
    color: #f4d35e;
  }
  body header ul .nav-button a:hover,
body header ul .nav-button a:focus,
body header ul .nav-button a:active {
    color: #c8d3d5;
    text-decoration: underline;
  }
  body main {
    background-color: #edf2f4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  body main #topPicks {
    order: -1;
    height: 100vh;
    background-color: #c8d3d5;
    background-image: url("../images/backcss.png");
    position: relative;
    z-index: 9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  body main #topPicks figure {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  body main #topPicks figure img {
    margin-top: 6em;
    flex-grow: auto;
  }
  body main #topPicks figure p {
    font-family: "oswald", sans-serif;
    font-size: 1.5em;
    flex: auto;
  }
  body main .button a:link,
body main .button a:visited {
    color: #f4d35e;
    border: 1px solid #f4d35e;
    padding: 0.1em 5rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  body main .button a:hover,
body main .button a:focus,
body main .button a:active {
    color: black;
    background-color: #f4d35e;
  }
}
@media screen and (min-width: 1600px) {
  body {
    background-image: url("../images/foodbackground2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
  body header {
    height: auto;
    width: 100vw;
  }
  body header ul {
    display: flex;
    flex-direction: row;
    font-family: "maghrib", Helvetica, "sans-serif";
    flex-wrap: nowrap;
    padding: 0.5em 3em;
    justify-content: space-between;
    align-items: center;
    gap: 0.5px;
    list-style-type: none;
    margin-top: 0;
    font-size: 2.5em;
    background-color: #c8d3d5;
  }
  body header ul #logo {
    margin-top: 0;
    margin-bottom: 0;
    flex: initial;
  }
  body header ul li {
    margin: 0.2em;
    flex: initial;
  }
  body header ul a:link {
    color: black;
  }
  body header ul a:visited {
    color: black;
  }
  body header ul a:hover {
    color: #f4d35e;
    text-decoration: underline;
  }
  body main {
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-columns: 50px minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) 50px;
    grid-template-columns: 50px minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) 50px;
    grid-gap: 10px;
    justify-content: center;
    align-content: space-evenly;
  }
  body main #title {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  body main #title h1 {
    margin: 20px 0 0 0;
    font-family: "un-round", "oswald", "Gv time", Helvetica, Arial, Verdana, sans-serif;
  }
  body main #title p {
    margin: 0;
  }
  body main #topPicks {
    grid-row: 2/4;
    grid-column: 2/3;
    background-color: #c8d3d5;
    background-image: url("../images/backcss.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: auto;
    position: relative;
  }
  body main #topPicks #randomPick {
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 25%;
  }
  body main #nshima {
    grid-row: 2/3;
    grid-column: 3/5;
    background-color: #c8d3d5;
    border-top-right-radius: 20px;
    position: relative;
    height: auto;
  }
  body main #nshima #shibutton {
    position: absolute;
    top: 40%;
    left: 30%;
  }
  body main #nshima figure {
    margin: 4em 0 0 0;
    height: auto;
  }
  body main #pancakes {
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: #c8d3d5;
    position: relative;
    height: auto;
  }
  body main #pancakes #panbutton {
    position: absolute;
    top: 40%;
    left: 4em;
  }
  body main #pancakes figure {
    margin: 4em 0 0 0;
    height: auto;
  }
  body main #chicken {
    grid-row: 3/4;
    grid-column: 4/5;
    background-color: #c8d3d5;
    border-bottom-right-radius: 20px;
    position: relative;
    height: auto;
  }
  body main #chicken #chibutton {
    position: absolute;
    top: 40%;
    left: 3em;
  }
  body main #chicken figure {
    margin: 4em 0 0 0;
    height: auto;
  }
  body main .button {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 2em;
    text-align: center;
  }
  body main .button a:link {
    padding: 0 2em;
    background-color: #f4d35e;
    border: solid black 1px;
    color: black;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  body main .button a:visited {
    color: black;
  }
  body main .button a:hover {
    background-color: #edf2f4;
    box-shadow: 5px 6px black;
    border-radius: 10px;
    text-align: center;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  body main .button a:active {
    background-color: rgb(253, 43, 43);
  }
  body footer #copyright {
    text-align: center;
    font-size: 1.2em;
  }
}/*# sourceMappingURL=style.css.map */